body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2
 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}

h3
{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.hobbies-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro{
  width: 35%;
  margin: auto;
}

.top-model {
  background-color: #E4F9F5;
  padding: 100px
}

.middle-model {
  margin: 100px 0;
}

.bottom-model {
  margin: 100px auto 0 auto;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.top-cloud{
  position: absolute;
  top: 40px;
  right: 300px;

}

.Web-Developer{
  border-radius: 50%;
  height: 345px;
  width: 40%;
  float: left;
  margin-right: 30px;
}

.Embedded-Coding{
  border-radius: 50%;
  height: 345px;
  width: 40%;
  float: right;
  margin-right: 30px;
}

.Football{
  border-radius: 50%;
  height: 220px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Books{
  border-radius: 50%;
  height: 220px;
  width: 25%;
  float: right;
  margin-right: 30px;
}

.Coding{
  border-radius: 50%;
  height: 220px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Movies-Series{
  border-radius: 50%;
  height: 220px;
  width: 25%;
  float: right;
  margin-right: 30px;
}

.profile-pic{
  border-radius: 50%;
  height: 400px;
  width: 30%;
  margin-right: 30px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.a:hover{
  color: #EAF6F6;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2bc4ad);
  background: -ms-linear-gradient(top,  #30E3CB,  #2bc4ad);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2bc4ad));
  background: -moz-linear-gradient(top,  #30E3CB,  #2bc4ad);
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
